@import "../../config/config_setting";

.create {
  .title {
    font-size: 2rem;
    margin-top: 30px;
  }

  .create-vote-form {
    margin-top: 20px;
    position: relative;

    .input-area {
      left: 0;
      margin: auto;
      right: 0;
      position: absolute;

      .input {
        margin-bottom: 20px;

        .tag {
          border-bottom: 3px solid $basic-green-color;
          font-size: 1.2rem;
          line-height: 40px;
          margin-bottom: 10px;
          text-align: left;
        }

        .el-input {
          margin: auto;
          width: 95%;
        }
      }

      .enquete-url-area {
        font-size: 1.2rem;
      }

      .submit-btn-wrapper {
        margin: 20px;

        .submit-button {
          padding: 12px 24px;
        }
      }

      .answer-items {
        .answer {
          font-size: 1.1rem;
          line-height: 40px;
          padding-left: 2rem;
          text-align: left;

          &::before {
            content: "●";
            color: $basic-green-color;
            padding-right: 1rem;
          }
        }
      }

      .add-answer-area {
        margin-top: 10px;

        .add-answer-icon {
          color: $basic-green-color;
          cursor: pointer;
          font-size: 36px;
          margin-top: 2px;
        }
      }

      .selectable-number {
        margin-top: 20px;

        .text {
          font-size: 1.2rem;
          line-height: 40px;
        }
      }
    }
  }
}
