.create
  .title {{ title }}
  form.create-vote-form()
    el-col(:xs="20", :sm="20", :md="16", :lg="13", :xl="11")
      .input
        .tag Main Title
        el-input(type="text", v-model="newVoteTitle")
      .input
        .tag Description
        el-input(type="text", v-model="description")
      .input
        .tag Question Items
        .question-items

