el-col.enquete(:xs="22", :sm="20", :md="18", :lg="16", :xl="12")
  .enquete-title {{ enqueteTitle }}
  .enquete-description {{ description }}
  el-checkbox-group.enquete-answers(v-model="selectedAnswers", :max="selectableNumber")
    .checkbox-wrapper(v-for="item in answerItems", :key="item")
      el-checkbox(:label="item")
  .submit-btn-wrapper
    el-button.submit-btn(type="primary", @click="submitAnswers()") 回答する
  .submit-btn-wrapper
    el-button.submit-btn(type="info", @click="returnTopPage()") トップに戻る
