.enquete
  .enquete-title {{ enqueteTitle }}
  .enquete-description {{ description }}
  el-checkbox-group.enquete-answers(v-model="selectedAnswers", :max="selectableNumber")
    .checkbox-wrapper(v-for="item in answerItems", :key="item")
      el-checkbox(:label="item")
  el-button.submit-btn(type="primary", @click="submitAnswers()") Submit
